src/main/mule/cicdapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5db2aa3b-421e-4b18-9afc-68ea257c2d9d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdappFlow" doc:id="4a1f36aa-15bb-4596-addf-d6a42d9a4924" >
		<http:listener doc:name="Listener" doc:id="35dfd597-a42c-479a-8cc3-253b473b3661" config-ref="HTTP_Listener_config" path="/cicd"/>
		<ee:transform doc:name="Transform Message" doc:id="0f391ebb-19f5-4fc5-b7c9-33d1aa259a7b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Data fetched successfully"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d7a54f61-3a73-4762-881c-eda4a96e224f" message="#[payload]"/>
	</flow>
</mule>
